<!-- app/views/admin/shops/edit.html.erb -->
<h1>Editing Shop</h1>

<%= render 'form', shop_business_hour_form: @shop_business_hour_form, form_url: admin_shop_path(@shop), form_method: :patch %>

<%= link_to 'Back', shops_path %>
