<!-- app/views/admin/shops/new.html.erb -->
<h1>New Shop</h1>

<%= render 'form', shop_business_hour_form: @shop_business_hour_form, form_url: admin_shops_path, form_method: :post %>

<%= link_to 'Back', admin_shops_path %>
