<div class="tags">
  <% if tag_list.any? %>
    <div class="d-flex flex-wrap">
      <% tag_list.each do |tag| %>
        <span class="tag">
          <%= link_to tag, shops_path(tag_name: tag), class: "text-white" %>
        </span>
      <% end %>
    </div>
  <% else %>
    <p></p>
  <% end %>
</div>
