/* app/assets/stylesheets/application.scss */

/*
 *= require_tree .
 *= require_self
 */


/* app/assets/stylesheets/application.scss */

/* タグのスタイル */
.tag {
  display: inline-block;
  background-color: #007bff; /* タグの背景色 (お好みで変更) */
  color: #fff; /* テキストカラー */
  padding: 0.4em 0.75em; /* タグの内側の余白 */
  border-radius: 15px; /* 角丸にしてバッジ風に */
  margin: 0.2em; /* タグ同士の間隔 */
  font-size: 0.9em; /* フォントサイズを調整 */
  transition: background-color 0.3s ease, transform 0.3s ease; /* ホバー時のアニメーション */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 影をつけて立体感を演出 */
  cursor: pointer; /* カーソルをポインターに */
}

.tag:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
  transform: translateY(-2px); /* ホバー時に少し浮き上がる効果 */
}

.tag .text-white {
  text-decoration: none; /* リンクの下線を削除 */
}





/* ログインフォームのスタイル */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポートの高さに合わせて中央に配置 */
  background-color: #f7f7f9; /* 背景色を少し明るくしてフォームを引き立てる */
}

.login-form {
  max-width: 400px; /* フォームの最大幅を設定 */
  background-color: #ffffff; /* フォームの背景色 */
  border: 1px solid #e3e3e3; /* 薄いボーダーで囲む */
  border-radius: 10px; /* 角丸にする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影をつけて立体感を出す */
}

.btn-primary {
  background-color: #007bff; /* ボタンの色 */
  border: none; /* ボーダーを削除 */
  transition: background-color 0.3s; /* ホバー時のアニメーション */
}

.btn-primary:hover {
  background-color: #0056b3; /* ホバー時の色変更 */
}



/* サインアップフォームのスタイル */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポートの高さに合わせて中央に配置 */
  background-color: #f7f7f9; /* 背景色を少し明るくしてフォームを引き立てる */
}

.signup-form {
  max-width: 400px; /* フォームの最大幅を設定 */
  background-color: #ffffff; /* フォームの背景色 */
  border: 1px solid #e3e3e3; /* 薄いボーダーで囲む */
  border-radius: 10px; /* 角丸にする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影をつけて立体感を出す */
}

.btn-primary {
  background-color: #007bff; /* ボタンの色 */
  border: none; /* ボーダーを削除 */
  transition: background-color 0.3s; /* ホバー時のアニメーション */
}

.btn-primary:hover {
  background-color: #0056b3; /* ホバー時の色変更 */
}


/* app/assets/stylesheets/application.scss */

/* プライバシーポリシーページ用のスタイル */
.privacy-policy-container {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.privacy-policy-container h1 {
  font-size: 28px;
  border-bottom: 3px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.privacy-policy-container h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.privacy-policy-container p {
  margin-bottom: 10px;
  text-indent: 1em;
}

.privacy-policy-container ul {
  margin-left: 20px;
  list-style-type: disc;
}

.privacy-policy-container .list-group-item {
  border: none;
  padding-left: 0;
}


/* app/assets/stylesheets/application.scss */

/* 利用規約ページのスタイル */
.terms-container {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.terms-container h1 {
  font-size: 28px;
  border-bottom: 3px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.terms-container h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.terms-container p {
  margin-bottom: 10px;
  text-indent: 1em;
}

.terms-container ul {
  margin-left: 20px;
  list-style-type: disc;
}

.terms-container .list-group-item {
  border: none;
  padding-left: 0;
}


@media (max-width: 768px) {
  .shop-details {
    display: none;
  }
}
