<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body, html {
      height: 100%; /* 必要です: フッターを下に押し下げるためのビューポートの高さの設定 */
    }
    #content {
      flex: 1 0 auto; /* コンテンツをフレックスコンテナの主軸に沿って伸縮させる */
    }
    #footer {
      flex-shrink: 0; /* フッターが縮小されないようにする */
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* ビューポートの最小高さを設定 */
    }
  </style>
</head>
<body>
<div class="wrapper">
  <div id="content" class="container">
    <!-- コンテンツがここに来ます -->
  </div>
  <footer id="footer" class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">TCG-PLACE</p>
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">お問い合わせ</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">利用規約</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">プライバシーポリシー</a></li>
      </ul>
    </footer>
  </footer>
</div>
</body>
</html>
