<p>こんにちは <%= @resource.name %> さん！</p>

<p>パスワードは以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしメッセージに心当たりがない場合は、このメールを破棄してください。</p>
